/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 30px;
  font-weight: 300;
}
#outer-box {
  background-color: purple;
}

.white-text {
  background-color: red;
  color: aliceblue;
  /* padding-left: 90px; */
  padding: 20px;
}
